.snackbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: transparent;
}

    .container {
        max-width: 1251px;
        width: 85%;
        padding: 0px 15px;
        margin: 0 auto;
    }

.imageLine {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-height: 188px;
    overflow: hidden;
}
.images {
    font-family: 'Euclid Circular A', sans-serif;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.images::-webkit-scrollbar {
    display: none;
}
.images {
    max-width: 1251px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.addMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;

    margin-left: 20px;
    margin-right: 50px;
}

.addMedia > button {

    width: 30px;
    height: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.09);
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.addMedia > button:hover {
    background-color: #aaa0a0;
}

.snackbarButton {
    display: flex;
    justify-content: center;
}
.snackButtonNote {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
    width: 372px;
    height: 45px;
    max-height: 45px;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    color: #242424;
}

.deleteImageBtn{
    background: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
}

